<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"  routerLink="/home">LoanHub</a>
    <div class="navbar-collapse collapse justify-content-end">
      <div class="navbar-text me-3">
        <i class="fas fa-user"></i> 
        Welcome, {{ userName }}!
      </div>
      <button class="btn btn-outline-light" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
<div class="container mt-5">
    
  
    <!-- The rest of your dashboard content -->
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Add Eligibility</h5>
            <p class="card-text">Check if you are eligible for loans.</p>
            <a routerLink="/admin/add-eligibility" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Add Loan Scheme</h5>
            <p class="card-text">See available loan schemes and offers.</p>
            <a routerLink="/admin/add-scheme" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Add Loan Officer</h5>
            <p class="card-text">Manage your loan repayments and schedules.</p>
            <a routerLink="/admin/add-loan-officer" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-2">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">View Analytics</h5>
            <p class="card-text">Manage your loan status and schedules.</p>
            <a routerLink="/admin/view-analytics" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-2">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">View Loan Officers</h5>
            <p class="card-text">Manage your loan status and schedules.</p>
            <a routerLink="/admin/view-loan-officers" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>

    </div>
</div>
